.noWater {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  min-height: 142px;

  color: var(--color-darkblue-translucent);

  @media (--tablet-bp) {
    min-height: 142px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: overlay;
  gap: 8px;
  max-width: 672px;
  padding-top: 24px;
  min-height: 142px;
}

.wrapper::-webkit-scrollbar {
  height: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-darkblue);
  border-radius: 9px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 9px;
}

.wrapper::-webkit-scrollbar-thumb:vertical {
  display: none;
}
