.selectedDay {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  
  color: var(--color-darkblue);
  
  @media (--tablet-bp) {
    font-size: 28px;
    line-height: 1.14;
  }
}
