.btn {
  position: absolute;
  right: 16px;
  bottom: 32px;
  width: 140px;
  height: 46px;
  background-color: var(--color-darkblue);
  color: var(--color-white);
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 20px;
  padding-left: 10px;
  transition: var(--animation);
}
.btn svg {
  width: 30px;
  height: 30px;
}
.btn svg path {
  stroke: var(--color-white);
}
.btnText {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  font-weight: bold;
}
.btn:hover,
.btn svg path:hover {
  stroke: var(--color-lightgreen);
  color: var(--color-lightgreen);
}

@media only screen and (min-width: 768px) {
  .btn {
    width: 178px;
    height: 60px;

    right: 32px;
    bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 18px 30px 18px 30px;
  }
  .btn svg {
    width: 24px;
    height: 24px;
  }
  .btnText {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}
