.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 16px;
  bottom: 32px;
  width: 140px;
  height: 46px;
  padding: 20px 14px;

  background-color: var(--color-darkblue);
  border: none;
  border-radius: 30px;
  transition: var(--animation);

  /* TEXT */
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  font-weight: bold;
}
.btn div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn svg {
  position: relative;
  width: 22px;
  height: 22px;
  stroke: var(--color-white);
}
.btn:hover,
.btn svg:hover {
  stroke: var(--color-lightgreen);
  color: var(--color-lightgreen);
}

@media (--tablet-bp) {
  .btn {
    width: 178px;
    height: 60px;
    right: 32px;
    bottom: 64px;
    padding: 18px 30px;

    /* TEXT */
    font-size: 16px;
    line-height: 1.5;
  }
  .btn svg {
    width: 28px;
    height: 28px;
  }
}
