.settingsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.leftDesktopWrapper,
.rightDesktopWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subtitle {
  color: var(--color-darkblue);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.16px;
  display: block;
  margin-bottom: 8px;
}

.text {
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
}

.input {
  padding: 14px 16px;
  margin-bottom: 14px;
  border-radius: 15px;
  border: 1px solid #2f2f2f26;
  height: 46px;
  width: 100%;

  /* content styles */
  color: #2f2f2f;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
}

.input:last-child {
  margin-bottom: 0;
}

/* Avatar section */

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.avatar {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: indianred;
}

.hiddenFileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.hiddenFileInput + label {
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
  cursor: pointer;
  transition: color var(--animation);
}

.hiddenFileInput + label::before {
  content: url('../Icons/upload.svg');
  margin-left: auto;
  display: block;
  width: 18px;
  height: 18px;
}

.hiddenFileInput + label:hover {
  color: var(--color-lightgreenhover);
}

/*  Gender  section */

.genderWrapper .subtitle {
  margin-bottom: 8px;
}

.hiddenRadioInput {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.genderLabel {
  cursor: pointer;
}

.genderLabel::before {
  content: '';
  border-radius: 100%;
  border: 1px solid var(--color-lightgreen);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.hiddenRadioInput:checked + .genderLabel::before {
  background-color: var(--color-lightgreen);
  box-shadow: inset 0 0 0 5px white;
}

.genderLabel:not(:last-child) {
  margin-right: 20px;
}

/* Main info  section*/
.infoWrapper .input:last-child {
  margin-bottom: 0;
}

/* Daily norma section*/

.normaWrapper .subtitle {
  margin-bottom: 14px;
}

.normaWrapper .text {
  margin-bottom: 4px;
}

.normaWrapper .text:last-child {
  margin-bottom: 0;
}

.normaFormula {
  display: inline-block;
  color: var(--color-lightgreen);
  font-weight: 700;
}

.formulaSubwrapper {
  margin-bottom: 12px;
}

.formulaSubwrapper:last-child {
  margin-bottom: 14px;
}

.normaTextArea {
  padding: 16px;
  border-radius: 15px;
  border: 1px solid #2f2f2f26;
  margin-bottom: 14px;

  /* content styles */
  color: #2f2f2f99;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
}

.normaAsterisk {
  color: var(--color-lightgreen);
}

.footnote {
  display: flex;
  gap: 4px;
}

.footnote::before {
  content: url('../Icons/exclamation-mark.svg');
  width: 18px;
  height: 18px;
}

/* Metrics section */

.metricsWrapper .text {
  display: inline-block;
  margin-bottom: 8px;
}

.metricsWrapper .input:last-child {
  margin-bottom: 0;
}

/* Water amount section */

.waterAmountWrapper {
  display: flex;
  flex-direction: column;
}

.waterAmountWrapper .text {
  margin-bottom: 5px;
}

.amount {
  display: block;
  color: var(--color-lightgreen);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  margin-bottom: 14px;
}

.submitButton {
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  background-color: var(--color-lightgreen);

  /*content styles*/
  color: var(--color-darkblue);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  transition: background-color var(--animation);
}

.submitButton[disabled] {
  cursor: not-allowed;
  background: #e6e6e6;
}

.submitButton[disabled]:hover,
.submitButton[disabled]:focus {
  background: #cacaca;
}

.submitButton:hover,
.submitButton:focus {
  background-color: var(--color-lightgreenhover);
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
    margin-bottom: 8px;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }

  .input {
    padding: 16px;
    height: 54px;
    outline: none;
    transition:
      border-color var(--animation),
      box-shadow var(--animation),
      transform var(--animation);

    /* content styles */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }

  .input:hover {
    border-color: var(--color-lightgreenhover);
  }

  .input:focus {
    border-color: var(--color-lightgreenhover);
    transform: scale(1.01);
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .hiddenFileInput + label {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }

  .hiddenFileInput + label::before {
    width: 20px;
    height: 20px;
  }

  /* Daily norma section*/

  .formulaWrapper {
    display: flex;
    margin-bottom: 14px;
  }

  .formulaSubwrapper {
    margin-bottom: 0;
  }

  .formulaSubwrapper:last-child {
    margin-bottom: 0;
  }

  .formulaSubwrapper:first-child {
    margin-right: 28px;
  }

  .normaTextArea {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }

  .footnote::before {
    width: 22px;
    height: 22px;
  }

  .submitButton {
    padding: 16px 50px;

    /*content styles*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}

@media screen and (min-width: 1440px) {
  .settingsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
  }

  .rightDesktopWrapper {
    padding-top: 84px;
  }
  .amountField {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .amount {
    font-size: 15px;
    line-height: 1.49;
  }
}
