.welcomSection {
  border-radius: 30px;
  background: var(--color-lightgray);
  padding: 118px 16px 67px 16px;
  margin-bottom: 16px;
}
.text {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.84px;
  margin-bottom: 16px;
}
.mainTitle {
  color: var(--color-darkblue);
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.38px;
  margin-bottom: 32px;
}
.linkThumb {
  display: flex;
  gap: 10px;
  max-height: 60px;
}
.linkTracker {
  width: 116px;
  display: flex;
  padding: 14px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--color-lightgreen);
  color: var(--color-darkblue);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  transition: background-color var(--animation);
}
.linkTracker:hover,
.linkTracker:active,
.linkTracker:focus {
  background-color: var(--color-lightgreenhover);
}
.linkSignIn {
  width: 104px;
  display: flex;
  padding: 14px 28px;
  /* padding: 14px 27px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-darkblue);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  border-radius: 30px;
  border: 1px solid var(--color-darkblue);
  transition:
    border var(--animation),
    color var(--animation);
}
.linkSignIn:hover,
.linkSignIn:focus,
.linkSignIn:active {
  border: 1px solid var(--color-lightgreenhover);
  color: var(--color-lightgreenhover);
}
@media screen and (min-width: 768px) {
  .welcomSection {
    padding-right: 93px;
    padding-left: 64px;
    padding-top: 106px;
    padding-bottom: 50px;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.96px;
  }
  .mainTitle {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.64px;
  }
  .linkThum {
    gap: 10px;
  }
  .linkTracker {
    padding: 18px 40px;
    width: 169px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
  .linkSignIn {
    width: 135px;
    padding: 18px 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}
@media screen and (min-width: 768px) {
  .welcomSection {
    padding: 188px 64px 188px 61px;
  }
  .mainTitle {
    font-size: 80px;
    line-height: 76px;
    letter-spacing: -0.8px;
  }
}

@media screen and (min-width: 1440px) {
  .welcomSection {
    margin: 0;
  }
}
@media screen and (max-width: 330px) {
  .mainTitle {
    font-size: 30px;
  }
}
