.section {
  background-image: url(../../assets/img/women.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 353px;
  border-radius: 30px;
  padding: 0 16px 32px 16px;
  position: relative;
}
.totalBox {
  position: absolute;
  display: inline-flex;
  top: 158px;
  left: 16px;
  font-weight: 600;
  font-size: 12px;
  width: 110px;
  height: 48px;
  padding: 10px 14px;
  align-items: center;
  border-radius: 30px;
  background: var(--color-white);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}
.studentsBox {
  display: inline-flex;
  position: absolute;
  top: 23px;
  right: 16px;
  max-width: 180px;
  padding: 10px 10px;
  align-items: center;
  border-radius: 30px;
  background: var(--color-white);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.item {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  overflow: hidden;
}
.img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.customerImg {
  display: flex;
}
.item:nth-child(1) {
  z-index: 3;
  position: relative;
}
.item:nth-child(2) {
  z-index: 2;
  left: -10px;
  position: relative;
}
.item:nth-child(3) {
  z-index: 1;
  left: -20px;
  position: relative;
}
.customerText {
  color: var(--color-darkblue);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
  margin-left: -18px;
}
.customerTextLiters {
  color: var(--color-darkblue);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
}
.span {
  color: var(--color-lightgreen);
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}
.ellipse {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--color-lightgreen);
}
.textAdvantage {
  display: flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.textAdvantage:nth-child(2) {
  background: var(--color-lightgreen);
  width: 83px;
}
.textAdvantage:nth-child(1) {
  background: var(--color-darkblue);
  width: 81px;
  gap: 4px;
}
.textAdvantage:nth-child(3) {
  background: var(--color-white);
  width: 108px;
}

.text {
  color: var(--color-white);
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.08px;
}
.textBlack {
  color: var(--color-darkblue);
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.08px;
}
.advantagesGroup {
  max-width: 168px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.group {
  position: absolute;
  bottom: 32px;
  right: 16px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .section {
    height: 446px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
  .totalBox {
    font-size: 15px;
    display: inline-flex;
    top: 201px;
    right: 32px;
    width: 158px;
    padding: 10px 20px;
  }

  .studentsBox {
    font-size: 15px;
    display: inline-flex;
    top: 32px;
    right: 42px;
    max-width: 263px;
    padding: 10px 20px;
  }
  .item {
    height: 47px;
    width: 47px;
  }
  .customerText {
    font-size: 15px;
    line-height: 1.49;
  }
  span {
    font-size: 15px;
    line-height: 1.49;
  }
  .group {
    position: absolute;
    right: 32px;
    height: 78px;
  }
  .advantagesGroup {
    gap: 10px;
    max-width: 242px;
    height: 78px;
  }
  .textAdvantage {
    font-size: 12px;
    height: 34px;
    padding: 11px 16px;
  }
  .textAdvantage:nth-child(2) {
    width: 121px;
  }
  .textAdvantage:nth-child(1) {
    width: 111px;
    gap: 4px;
  }
  .textAdvantage:nth-child(3) {
    width: 158px;
  }
  .text {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.12px;
  }
  .textBlack {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.12px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 64px;
    min-width: 672px;
    height: 736px;
  }
  .totalBox {
    top: 335px;
  }
  .studentsBox {
    top: 64px;
  }
  .group {
    bottom: 64px;
  }
}
