.title {
  color: var(--color-darkblue);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.28px;
  }
}
