.container {
  min-width: 288px;
  max-width: 343px;
  height: 415px;
  background: var(--color-lightgreen);
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}
.imgWrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.img {
  width: 262px;
  height: 335px;
  object-fit: cover;
}

@media (--tablet-bp) {
  .container {
    min-width: 704px;
    height: 578px;
  }
  .imgWrapper {
    margin-top: 69px;
  }
  .img {
    width: 374px;
    height: 477px;
  }
}

@media (--desktop-bp) {
  .container {
    min-width: 672px;
    height: 736px;
  }
  .imgWrapper {
    margin-top: 92px;
  }
  .img {
    width: 472px;
    height: 604px;
  }
}
