.container {
    min-width: 288px;
    max-width: 343px;
  }
  .WaterMaininfoContainer {
    background: var(--color-lightgreen);
    border-radius: 30px;
    height: 415px;
    position: relative;
  }
  
  .header {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01em;
    padding-top: 24px;
    padding-left: 16px;
    margin: 0;
  }
  .imgWrapper {
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 6px;
  }
  .img {
    padding: 0;
    margin: 0;
    max-width: 262px;
    height: 335px;
    margin-bottom: 30px;
  }
  
 @media (--tablet-bp) {
    .container {
      max-width: 768px;
    }
    .WaterMaininfoContainer {
      background: var(--color-lightgreen);
  
      height: 578px;
    }
    .imgWrapper {
      margin-top: 13px;
    }
    .img {
      max-width: 374px;
      height: 477px;
      margin-bottom: 32px;
    }
    .header {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: -0.01em;
      padding-top: 32px;
      padding-left: 32px;
    }
  }
  
  @media (--desktop-bp) {
    .container {
      width: 672px;
      margin: 0;
      padding: 0;
      height: 736px;
    }
    .WaterMaininfoContainer {
      background: var(--color-lightgreen);
  
      height: 736px;
    }
    .imgWrapper {
      margin-top: 32px;
    }
    .img {
      max-width: 472px;
      height: 604px;
      margin-bottom: 40px;
    }
    .header {
      padding-top: 32px;
      padding-left: 33px;
    }
  }
