.userBar {
  &__thumb {
    position: relative;
    display: inline-flex;
    align-self: flex-start;
    flex-direction: column;
  }

  &__button {
    display: inline-flex;
    align-self: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 8px;
    border-radius: 30px;
    height: 50px;
    
    background-color: var(--color-darkblue);
    color: var(--color-white);
    
    @media (--tablet-bp) {
      height: 56px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;

    @media (--tablet-bp) {
      font-size: 16px;
    }
  }

  &__avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: indianred;

    @media (--tablet-bp) {
      width: 44px;
      height: 44px;
    }
  }

  &__svg {
    width: 16px;
    height: 16px;

    @media (--tablet-bp) {
      width: 20px;
      height: 20px;
    }
  }
}
