.userBar {
  &__thumb {
    position: relative;
    display: inline-flex;
    align-self: flex-start;
    flex-direction: column;
  }

  &__button {
    display: inline-flex;
    align-self: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 8px;
    border-radius: 30px;
    height: 50px;
    max-width: 100%;

    background-color: var(--color-darkblue);
    color: var(--color-white);
    transition: var(--animation);

    &:hover {
      color: var(--color-lightgreen);
    }
    &:hover .userBar__svg path {
      stroke: var(--color-lightgreen);
    }

    @media (--tablet-bp) {
      height: 56px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    max-width: 150px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (--tablet-bp) {
      font-size: 16px;
      max-width: 200px;
    }
  }

  &__avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: indianred;

    @media (--tablet-bp) {
      width: 44px;
      height: 44px;
    }
  }

  &__svg {
    width: 16px;
    height: 16px;
    transition: var(--animation);

    @media (--tablet-bp) {
      width: 20px;
      height: 20px;
    }
  }
}
