.paginationSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.month {
  color: var(--color-darkblue);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.chevronDisabled {
  color: rgba(50, 63, 71, 0.2);
  font-size: 20px;
}
.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  outline: none;
}
.button:focus {
  outline: none;
}
.chevron:disabled {
  color: grey;
}
.chevron {
  width: 18px;
  height: 18px;
  stroke: var(--color-darkblue);
  stroke-width: 1;
}
.chooseMonth {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.span {
  width: 119px;
  color: var(--color-darkblue);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
}
@media (--tablet-bp) {
  .paginationSection {
    gap: 343px;
  }
  .month {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.28px;
  }
  .span {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.16px;
    width: 135px;
  }
  .chooseMonth {
    gap: 20px;
  }
}
@media (--desktop-bp) {
  .paginationSection {
    gap: 311px;
  }
}
