:root {
  /* Colors */
  --color-white: #ffffff;
  --color-lightgray: #f0eff4;
  --color-lightgreen: #9be1a0;
  --color-lightgreenhover: #87d28d;
  --color-darkblue: #323f47;
  --color-darkblue-translucent: rgba(50, 63, 71, 0.4);
  --color-black: #2f2f2f;
  --color-blacksemi: #2f2f2f80;
  --color-error: #ef5050;
  /* Animation */
  --animation: 150ms ease-in;
}

/* Breakpoints */
@custom-media --tablet-bp (min-width: 768px);
@custom-media --desktop-bp (min-width: 1440px);

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

/* 
/*  For close modal button style
*/

.close-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: fill var(--animation);
}

.close-modal-btn:hover {
  fill: var(--color-lightgreen);
}

/* 
/*  Scrollbar styles
*/

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-darkblue);
  transition: background-color var(--animation);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-lightgreenhover);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-lightgreenhover);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
