.dailyNorm {
  position: absolute;
  width: 102px;
  height: 54px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 15px;
  margin-left: 16px;
  margin-top: 72px;
}
.title {
  pointer-events: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  padding-top: 12px;
  padding-left: 12px;
  margin-bottom: 6px;
}
.desc {
  pointer-events: none;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  padding-left: 12px;
  opacity: 0.6;
}
@media only screen and (min-width: 768px) {
  .dailyNorm {
    width: 129px;
    height: 78px;
    margin-left: 32px;
    margin-top: 88px;
  }
  .title {
    font-size: 15px;

    line-height: 22.4px;
    padding-top: 14px;
    padding-left: 18px;
    margin-bottom: 4px;
  }
  .desc {
    font-size: 12px;
    line-height: 22.4px;
    font-weight: 400;
    padding-left: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  .dailyNorm {
    margin-left: 64px;
    margin-top: 101px;
  }
}