.signinName {
  color: var(--color-darkblue);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.32px;
  margin: 0;
  padding-bottom: 32px;
}
.signinForm {
  display: flex;
  width: 311px;
  padding-top: 216px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.signinLabel {
  color: var(--color-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
}
.signinFormGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
}
.signinField {
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  width: 311px;
  display: flex;
  height: 50px;
  padding-left: 16px;
  color: var(--color-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}
.signinField::placeholder {
  color: rgba(47, 47, 47, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
}

.signinButton {
  display: flex;
  width: 311px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  border-radius: 30px;
  background: var(--color-lightgreen);
  color: var(--color-darkblue);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  margin-bottom: 16px;
}
.signinText {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin: 0 auto;
}
.signinA {
  color: var(--color-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
}
